* {
    margin: 0;
    outline: 0;
    padding: 0;
}
body {
    padding-right: 0px !important;
}
table thead th {
    color: #2c3e50 !important;
}
table tbody td {
    color: #566573 !important;
}
/*---------------------Pantalla de carga--------------------*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/icono.png') no-repeat rgb(249, 249, 249);
    background-position: center;
    background-size: 20%;
    opacity: .8;
    animation: heartBeat;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* don't forget to set a duration! */
}
/*-----------------------Margins-------------------------------*/

.mt-d02 {
    margin-top: -0.2%;
}
.mt-d1 {
    margin-top: -1%;
}
.mt-d2 {
    margin-top: -2%;
}
.mt-d3 {
    margin-top: -3%;
}
.mt-d5 {
    margin-top: -5%;
}
.mt-5 {
    margin-top: 5%;
}
.mt-10 {
    margin-top: 10%;
}
.mt-15 {
    margin-top: 15%;
}
.mt-20 {
    margin-top: 20%;
}
.mt-25 {
    margin-top: 25%;
}
.mt-30 {
    margin-top: 30%;
}
.mt-35 {
    margin-top: 35%;
}
.mt-40 {
    margin-top: 40%;
}
.mt-45 {
    margin-top: 45%;
}
.ml-20 {
    margin-left: 20%;
}
.ml-35 {
    margin-left: 35%;
}
.ml-40 {
    margin-left: 40%;
}
/*------------------------------------Height-------------------------------------*/

.h-10 {
    height: 10px;
}
.h-20 {
    height: 20px;
}
/*------------------------------------Bordes-------------------------------------*/

.border-left-orange {
    border-left: 0.25rem solid #dc7633 !important;
}
.border-left-blue {
    border-left: 0.25rem solid #3498db !important;
}
.border-left-purple {
    border-left: 0.25rem solid #7d30e2b7 !important;
}
.border-left-red-dark {
    border-left: 0.25rem solid #7b241c !important;
}
.border-left-green {
    border-left: 0.25rem solid #17a589 !important;
}
.border-left-green-dark {
    border-left: 0.25rem solid #006600 !important;
}
.border-left-orange-light {
    border-left: 0.25rem solid #f39c12 !important;
}
.border-left-orange-dark {
    border-left: 0.25rem solid #d35400 !important;
}
.border-left-blue-dark {
    border-left: 0.25rem solid #1f618d !important;
}
.border-left-blue-light {
    border-left: 0.25rem solid #3dd3cc !important;
}
.border-left-yellow {
    border-left: 0.25rem solid #d4ac0d !important;
}
/*----------------------------------- ALERTS------------------------------------ */

/* inspired by Twitter Bootstrap */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    position: fixed;
    bottom: 0px;
    right: 21px;
    float: right;
    clear: right;
    background-color: white;
    z-index: 8000;
}
.alert-red {
    color: white;
    background-color: #DA4453;
}
.alert-green {
    color: white;
    background-color: #37BC9B;
}
.alert-blue {
    color: white;
    background-color: #4A89DC;
}
.alert-yellow {
    color: white;
    background-color: #F6BB42;
}
.alert-orange {
    color: white;
    background-color: #E9573F;
}
/*------------------------WIDTHS--------------------*/

.w-responsive {
    width: 75% !important;
}
/*-------------------------BACKGROUNDS------------------------------*/

.bg-gray {
    background-color: #d6dbdf;
}
.bg-gradient-orange {
    background-color: #e67e22;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #e67e22), to( #ca6f1e));
    background-image: linear-gradient(180deg, #e67e22 10%, #ca6f1e 100%);
    background-size: cover;
}
/*----------------------------Textos-----------------------------------*/

.text-decoration-none {
    text-decoration: none !important;
}
.text-orange {
    color: #dc7633 !important;
}
.text-blue {
    color: #3498db !important;
}
.text-purple {
    color: #7d30e2b7 !important;
}
.text-red-dark {
    color: #7b241c !important;
}
.text-green {
    color: #17a589 !important;
}
.text-green-dark {
    color: #006600 !important;
}
.text-orange-light {
    color: #f39c12 !important;
}
.text-orange-dark {
    color: #d35400 !important;
}
.text-blue-dark {
    color: #1f618d !important;
}
.text-blue-light {
    color: #3dd3cc !important;
}
.text-yellow {
    color: #d4ac0d !important;
}
/*----------------------------Cursor--------------------------------------*/

.cursor-pointer {
    cursor: pointer !important;
}
.no_hover {
    pointer-events: none !important;
}
/*-----------------RESPONSIVE---------------------------*/

.drawingBuffer {
    display: none;
}
#scanner-container video {
    width: 100%;
    height: auto;
}
.select2 {
    width: 100% !important;
}
/*-----------------RESPONSIVE---------------------------*/

@media screen and (min-width: 1024px) {
    .w-responsive {
        width: 50% !important;
    }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../img/icono.png') no-repeat rgb(249, 249, 249);
        background-position: center;
        background-size: 10%;
        opacity: .8;
        animation: heartBeat;
        /* referring directly to the animation's @keyframe declaration */
        animation-duration: 3s;
        animation-iteration-count: infinite;
        /* don't forget to set a duration! */
    }
    .circular--portrait {
        margin-right: auto;
        margin-left: auto;
        width: 310px !important;
        height: 310px !important;
        overflow: hidden;
        border-radius: 60%;
        overflow: hidden;
        text-align: center;
        border: 1px solid #808b96;
    }
    .circular--portrait img {
        width: 100%;
        height: auto;
    }
}
/*--------Foto de perfil--------------*/

.circular--portrait {
    margin-right: auto;
    margin-left: auto;
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 60%;
    overflow: hidden;
    text-align: center;
    border: 1px solid #808b96;
}
.circular--portrait img {
    width: 100%;
    height: auto;
}
.circular--perfil {
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 60%;
    overflow: hidden;
    border: 1px solid #808b96;
}
.circular--perfil img {
    width: 100%;
    height: auto;
}
.circular--coment {
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    overflow: hidden;
}
.circular--coment img {
    width: 100%;
    height: auto;
}
/*.img-thumbnail{
    max-height: 300px !important;
}*/